.Carreers-wrapper{
    position: relative;
    }
    .Carreers-Container{
        position: absolute;
        top: 0%;
        left: 10%;
        right: 10%;
    }
    
    .custom-dropdown {
        border: 1px solid rgb(224, 224, 224) !important;
        background-color: white !important;
        color:rgb(95, 95, 95) !important;
      }
      .custom-dropdown {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      .custom-dropdown::after {
        margin-left: auto; /* Pushes the arrow to the right */
      }
      .job-div{
        background-color: #E5F2FF;
        height: 300px;
       
      }
      .bg-carreer{
        height: 5000px !important;
        margin-bottom: 3000px !important;
      }
      @media only screen and (max-width: 375px){
        .bg-carreer{
          height: 6500px !important;
          margin-bottom: 2000px !important;
         }
     }
      @media only screen and (min-width: 376px) and (max-width: 425px){
        .bg-carreer{
          height: 4750px !important;
          margin-bottom: 3600px !important;
         }
     }
     @media only screen and (min-width: 426px) and (max-width: 768px){
      .bg-carreer{
        height: 2800px !important;
        /* margin-bottom: 2000px !important; */

       }
     }
      @media only screen and (min-width: 769px) and (max-width: 1024px) {
         /* .bg-carreer{
          height: 5550px !important;
          margin-bottom: 100px !important;
         } */
      }
      @media only screen and (min-width: 1024px) and (max-width:1440px){
        .bg-carreer{
          height: 1250px !important;
         }
         
      }
      @media only screen and (min-width: 1441px) and (max-width:2650px){
        .bg-carreer{
          height: 3800px !important;
          margin-bottom: 600px !important;
         }
         
      }