.value-div {
    position: relative;
    
  }
  
  .background-image {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  
  .value-container {
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
   
  
   
  }
  
  .text-box {
    background-color: rgba(82, 159, 239, 0.9);
    padding: 20px;
    border-radius: 10px;
    height: 500px !important;
  } @media only screen and (max-width: 320px){
    .background-img{
      margin-bottom: 750px !important;
      
  }
  .text-box {
     
      height: 440px !important;
      width: 300px !important;
    }
    .value-container {
      position: absolute;
      top: 0;
      left: 3%;
      right: 10%;
     
    
     
    }
    .futture{
      width: 300px !important;
      padding: 10px !important;
    }
  }
  @media only screen and (min-width: 321px) and (max-width: 425px){
    .background-img{
        margin-bottom: 720px !important;
    }
    .text-box {
       
        height: 440px !important;
        width: 350px !important;
      }
      .value-container {
        position: absolute;
        top: 0;
        left: 3%;
        right: 10%;
       
      
       
      }
      .futture{
        width: 350px !important;
        padding: 10px !important;
      }
  }
  @media only screen and (min-width: 376px) and (max-width: 425px){
    .background-img{
        margin-bottom: 600px !important;
    }
    .text-box {
       
        height: 440px !important;
        width: 400px !important;
      }
      .futture{
        width: 400px !important;
        padding: 10px !important;
      }
  }
  @media only screen and (min-width: 426px) and (max-width: 768px){
    .text-box {
       
        height: 530px !important;
      }
  }
  @media only screen and (min-width: 769px) and (max-width: 1024px){
    .text-box {
       
        height: 450px !important;
      }
      .value-container{
        padding-top: 50px !important;
      }
  }