.testiDiv{
    border-radius: 25px;

  }
  .testi img{
     
     position: absolute;
     /* left: 10%; */
     
  }
  
  
  .testi-i{
    color: #13357B;
    line-height: 5px;
  }
  
  .packCard1{
    flex: 0 0 410px;
    /* padding: 10px; */
    height: 250px;
    justify-content: center; /* Vertically centers content */
    align-items: center; /* Ensures inner content is centered */
  }
  .packCard1 {
    flex: 0 0 385px;  /* Default width */
    height: 250px; /* Default height */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out; /* Smooth transition */
  }
  
  .center-card {
    flex: 0 0 450px !important;  /* Increase width when active */
    height: 300px !important; /* Increase height */
    background-color: #98C8F9 !important;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    margin: 10px 0 !important; /* Adjust spacing */
  }
  
  
  @media (max-width: 425px) {
    

    .packCard1 {
        width: 100% !important;
        height: auto;
        max-width: 90%;
        margin: 10px 0;
    }

    .packCard1 .card-body {
        text-align: center;
    }

    .testi img {
        position: static;
        margin: 0 auto;
    }
}