#root {
  margin: 0 ;
  padding: 0;
  overflow: hidden;
  
}
*{
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
.blue{
  color: #298CF3;
}
.dark-blue{
  color: #135293;
}
.blue-bg{
  background-color: rgba(82, 159, 239, 0.9);
}
.blue-btn{
  background-color: #529FEF !important;
}
.home-img{
  width: 100%;
  /* height: 700px; */
}


.overlay-nav {
  position: absolute;
  top: 5%;
  width: 100%;
  z-index: 10;
  padding: 10px; 

}

.home-img {
  width: 100%;
  /* height: 550px; */
}
.heading-p{
  font-size: 30px;
}
.text{
  font-size: 20px;
}
.accor {
  border: none;
  border-bottom: 2px solid #298CF3 !important;
}

.accordion {
  border: none !important;
}


/* blogs */
.blue-text {
  color: #298CF3;
  border-left: 4px solid #298CF3;
  padding-left: 15px;
  font-weight: 500;
}
.animate-text {
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.animate-text.active {
  opacity: 1;
  transform: translateY(0);
}

.shadow-effect {
  box-shadow: 0px 0px 15px rgba(41, 140, 243, 0.6);
  transition: box-shadow 0.5s ease-in-out;
}

.shadow-effect:hover {
  box-shadow: 0px 0px 25px rgba(41, 140, 243, 0.9);
}
@keyframes glowingShadow {
  0% {
    box-shadow: 0px 0px 10px rgba(41, 140, 243, 0.5);
  }
  50% {
    box-shadow: 0px 0px 20px rgba(41, 140, 243, 0.8);
  }
  100% {
    box-shadow: 0px 0px 10px rgba(41, 140, 243, 0.5);
  }
}

.shadow-animation {
  animation: glowingShadow 1.5s infinite ease-in-out;
}
/* what is different */
.what{
  height: 400px !important;
}
.custom-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the caption */
  width: 100%; /* Ensure it spans the full width */
  text-align: center; /* Center the text horizontally */
  padding: 0 20px; /* Add equal padding on left and right */
  box-sizing: border-box; /* Ensure padding is included in the width */
}



@media only screen and  (max-width: 375px){
  .header-content .h1{
    font-size: 20px !important;
}
.header-p{
  font-size: 14px !important;
}
.heading-p{
  font-size: 20px;
}
.about-img{
  height: 600px !important;
}
.blue-btn{
  font-size: 10px !important;
}
.text{
  font-size: 15px !important;
 
}
.overlay-nav
{
position: absolute;
top: 5%;
width: 100%;
z-index: 10;
padding: 10px; 
}
.scrash{
  font-size: 12px;
}
}

@media only screen and (min-width: 376px) and  (max-width: 425px){
  .header-content .h1{
      font-size: 20px !important;
  }
  .header-p{
    font-size: 14px !important;
  }
  .heading-p{
    font-size: 20px;
  }
  .about-img{
    height: 600px !important;
  }
  .blue-btn{
    font-size: 10px !important;
  }
  .text{
    font-size: 15px !important;
   
}
.overlay-nav
{
  position: absolute;
  top: 5%;
  width: 100%;
  z-index: 10;
  padding: 10px; 
}
.scrash{
  font-size: 12px;
}
}
@media only screen and (min-width: 426px) and (max-width: 768px)
{
  .header-content .h1{
    font-size: 25px !important;
}
.header-p{
  font-size: 14px !important;
}
.heading-p{
  font-size: 25px;
}
.about-img{
  height: 600px !important;
}
.blue-btn{
  font-size: 13px !important;
}
.mission{
  padding-top: 90px;
}
.text{
  font-size: 18px !important;
}
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .header-content .h1{
    font-size: 30px !important;
}
.header-p{
  font-size: 17px !important;
}
.about-img{
  height: 600px !important;
}
.blue-btn{
  font-size: 15px !important;
}
.text{
  font-size: 17px;
}
}
@media only screen and (min-width: 1025px) and (max-width: 1440px){
 
}
@media only screen and (min-width: 1441px) and (max-width: 2561px){

}