.ourblog-wrapper{
position: relative;
}
.ourblog-Container{
    position: absolute;
    top: 0%;
    left: 10%;
    right: 10%;
}
.blog-div {
    position: relative;
    background-color: white; /* Default background */
    overflow: hidden;
    border-radius: 10px; /* Adjust as needed */
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0px 0px 10px #00000040;


}

.blog-div::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: radial-gradient(circle, #529eefa4 10%, transparent 60%);
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
    z-index: 0;
}

.blog-div:hover::before {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    
}

/* Ensure content remains above the background effect */
.blog-div1 {
    position: relative;
    z-index: 1;
}
.blog-div{
    height: 450px;
}
.copy-hide{
    display: none;
}
.copy-hide1{
    display: block;
    font-size: 14px;
}
@media only screen and (max-width: 320px){
    .bg-blog{
        height: 3400px !important;
        margin-bottom: 3000px !important;
    }
    .blog-div{
        height: 400px !important;
        box-shadow: 0px 0px 20px #00000040 !important;

    }
    .copy-hide{
        display: block;
        font-size: 10px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 375px){
    .bg-blog{
        height: 3350px !important;
        margin-bottom: 3000px !important;
    }
    .blog-div{
        height: 400px !important;
        box-shadow: 0px 0px 20px #00000040 !important;

    }
    .copy-hide{
        display: block;
        font-size: 10px;

    }
    .copy-hide1{
        display: none;
        font-size: 14px;
    }
}
@media only screen and (min-width: 376px) and (max-width: 425px){
    .bg-blog{
        height: 3200px !important;
        margin-bottom: 3000px !important;
    }
    .blog-div{
        height: 400px !important;
        box-shadow: 0px 0px 20px #00000040 !important;

    }
    .copy-hide{
        display: block;
        font-size: 10px;

    }
    .copy-hide1{
        display: none;
        font-size: 14px;
    }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
    .bg-blog{
        height: 4100px !important;
        margin-bottom: 2900px !important;
    }
    .blog-div{
        height: 500px;
        box-shadow: 0px 0px 20px #00000040 !important;

    }
    .copy-hide{
        display: block;
        font-size: 12px;

    }
    .copy-hide1{
        display: none;
        font-size: 14px;
    }
}
 @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .blog-div{
        height: 400px;
        box-shadow: 0px 0px 20px #00000040 !important;

    }
    .bg-blog{
        height: 1500px !important;
        margin-bottom: 2700px !important;
    }
    .copy-hide{
        display: block;
        font-size: 12px;

    }
    .copy-hide1{
        display: block;
        font-size: 14px;
    }
 }
 @media only screen and (min-width: 1024px) and (max-width:1440px ) {
    .bg-blog{
        height: 1500px !important;
        margin-bottom: 2700px !important;
    }
    .copy-hide1{
        display: block;
        font-size: 14px;
    }
 }
